@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

$lightgray: #d6d6d6;

body {
  background-color: #1b1b1b;
}

h2,
h3,
h4,
h5,
h6,
p {
  color: $lightgray;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  &.subtitle {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

a {
  display: inline-block;
  font-family: "Lato", sans-serif;
  color: $lightgray;
  background: unset;
  border: 1px solid $lightgray;
  border-radius: 5px;
  padding: 12px 0px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: #1b1b1b;
    background-color: $lightgray;
    cursor: pointer;
  }
}

h1 {
  font-size: 54px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 52px;
  color: $lightgray;
  margin-top: 0px;
  &::after {
    content: "";
    background-color: $lightgray;
    margin-left: 16px;
    width: 3px;
    height: 50px;
    position: absolute;
    -webkit-animation: blinking-type 1.5s infinite;
    animation: blinking-type 1.5s infinite;
  }
}

.App {
  width: 100%;
  padding: 150px 180px;
  .container {
    width: 600px;
  }
}

@keyframes blinking-type {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
